In [1]:
import pandas as pd

Get sample list from cluster

In [5]:
%%sh
scp lfuhrmann@euler.ethz.ch://cluster/project/pangolin/work-vp-test/samples.wastewateronly.tsv ./

In [6]:
df = pd.read_csv("samples.wastewateronly.tsv", sep="\t", names=["sample", "batch", "read_len", "primer"])

In [10]:
df = df[['sample','batch']]

In [20]:
df['date'] = df['sample'].str.split("_").str[3]

/var/folders/dw/8dl4p6h53cgcmk6cf_09v5f40000gr/T/ipykernel_2230/2848160048.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['sample'].str.split("_").str[3]

In [24]:
df = df[df["date"]=="03"][['sample','batch']]

In [25]:
df.head(145)

                sample               batch
0     A1_05_2023_03_08  20230324_HML35DRX2
1     A2_10_2023_03_09  20230324_HML35DRX2
2     A3_16_2023_03_10  20230324_HML35DRX2
3     A4_17_2023_03_11  20230324_HML35DRX2
4     A5_19_2023_03_12  20230324_HML35DRX2
...                ...                 ...
2425  H4_19_2022_03_26  20220408_HV2FFDRXY
2426  H5_25_2022_03_27  20220408_HV2FFDRXY
2431  A1_05_2022_03_16  20220401_H32K7DRX2
2432  A2_10_2022_03_17  20220401_H32K7DRX2
2433  A3_16_2022_03_18  20220401_H32K7DRX2

[145 rows x 2 columns]

In [27]:
df.to_csv("../../config/samples.csv")

In [28]:
%%sh
rm samples.wastewateronly.tsv

In [8]:
df

                    sample               batch  read_len primer
0         A1_05_2023_03_08  20230324_HML35DRX2       250    v41
1         A2_10_2023_03_09  20230324_HML35DRX2       250    v41
2         A3_16_2023_03_10  20230324_HML35DRX2       250    v41
3         A4_17_2023_03_11  20230324_HML35DRX2       250    v41
4         A5_19_2023_03_12  20230324_HML35DRX2       250    v41
...                    ...                 ...       ...    ...
5380  410279_151220eg17_G2  20201223_HWKGTDRXX       250     v3
5381  410256_141220eg19_B3  20201223_HWKGTDRXX       250     v3
5382  420389_221220eg41_B1  20201230_HWKFKDRXX       250     v3
5383  420394_221220eg44_B3  20201230_HWKFKDRXX       250     v3
5384   471206_280121eg1_G6  20210205_HWL33DRXX       250     v3

[5385 rows x 4 columns]

In [3]:
filename = "samples_of_interest.txt"

with open(filename) as file:
    list_samples = [line.rstrip() for line in file]

In [6]:
df[df["sample"]=="A2_10_2022_04_07"]["batch"].values[0]

'20220422_HTN5VDRXY'

In [7]:
df_out = pd.DataFrame()

for sample in list_samples:
    temp_dict = {'sample': [sample], 
                 'batch': [df[df["sample"]==sample]["batch"].values[0]]}
    
    df_out = pd.concat([df_out, pd.DataFrame(temp_dict)], ignore_index=True)

In [9]:
df_out.to_csv("../config/samples.csv")