In [8]:
import pandas as pd

Get sample list from cluster

In [9]:
%%sh
scp lfuhrmann@euler.ethz.ch://cluster/project/pangolin/work-vp-test/samples.wastewateronly.tsv ./

In [10]:
df = pd.read_csv("samples.wastewateronly.tsv", sep="\t", names=["sample", "batch", "read_len", "primer"])

In [11]:
df = df[['sample','batch']]

## filter out only Zurich samples
we are doing this as we cannot process all weekly samples so fast

In [12]:
df.shape

(5616, 2)

In [13]:
df = df[df["sample"].str.split("_").str[1] =="10"]

In [14]:
df.shape

(735, 2)

## get date of sample

In [15]:
df['date'] = df['sample'].str.split("_").str[3]

In [16]:
# search for April month

df = df[df["date"]=="04"][['sample','batch']]

In [19]:
df.shape

(48, 2)

In [23]:
df = df.sort_values("sample").head(10)

In [24]:
df.shape

(10, 2)

In [26]:
df.to_csv("../../config/samples.csv")

In [27]:
%%sh
rm samples.wastewateronly.tsv

## old code

In [8]:
df

                    sample               batch  read_len primer
0         A1_05_2023_03_08  20230324_HML35DRX2       250    v41
1         A2_10_2023_03_09  20230324_HML35DRX2       250    v41
2         A3_16_2023_03_10  20230324_HML35DRX2       250    v41
3         A4_17_2023_03_11  20230324_HML35DRX2       250    v41
4         A5_19_2023_03_12  20230324_HML35DRX2       250    v41
...                    ...                 ...       ...    ...
5380  410279_151220eg17_G2  20201223_HWKGTDRXX       250     v3
5381  410256_141220eg19_B3  20201223_HWKGTDRXX       250     v3
5382  420389_221220eg41_B1  20201230_HWKFKDRXX       250     v3
5383  420394_221220eg44_B3  20201230_HWKFKDRXX       250     v3
5384   471206_280121eg1_G6  20210205_HWL33DRXX       250     v3

[5385 rows x 4 columns]

In [3]:
filename = "samples_of_interest.txt"

with open(filename) as file:
    list_samples = [line.rstrip() for line in file]

In [6]:
df[df["sample"]=="A2_10_2022_04_07"]["batch"].values[0]

'20220422_HTN5VDRXY'

In [7]:
df_out = pd.DataFrame()

for sample in list_samples:
    temp_dict = {'sample': [sample], 
                 'batch': [df[df["sample"]==sample]["batch"].values[0]]}
    
    df_out = pd.concat([df_out, pd.DataFrame(temp_dict)], ignore_index=True)

In [9]:
df_out.to_csv("../config/samples.csv")